.header_nav {
  width:100%;
  background-color: #FFFFFF;
  position:fixed;
  top:0;
  left:0;
  sition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  z-index: 1000;
  border-bottom: 1px solid rgba(0,0,0,.1);
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.1);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.1);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.1);
}

.header_nav--big {
  /*height:100px;*/
}

.header_nav--small {
  /*height:40px;*/
}
.scroll-top{
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 44px;
  height: 44px;
  opacity: 0;
  z-index: -1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.scroll-top:before {
  display: block;
  width: 44px;
  height: 44px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='44px' height='44px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'%3E%3Cpath fill='white' d='M29.121,19.55l-6.29-6.196c-0.025-0.025-0.053-0.049-0.082-0.071c-0.012-0.011-0.024-0.02-0.038-0.03c-0.016-0.011-0.031-0.024-0.048-0.034c-0.017-0.011-0.032-0.02-0.048-0.03c-0.015-0.009-0.029-0.018-0.044-0.025c-0.017-0.009-0.034-0.017-0.051-0.024c-0.016-0.008-0.031-0.015-0.047-0.022c-0.016-0.006-0.033-0.012-0.049-0.018c-0.018-0.005-0.035-0.014-0.053-0.019c-0.017-0.005-0.034-0.008-0.05-0.013c-0.018-0.005-0.036-0.009-0.054-0.013c-0.02-0.003-0.039-0.006-0.059-0.008c-0.016-0.003-0.032-0.005-0.049-0.007c-0.073-0.007-0.146-0.007-0.218,0c-0.017,0.002-0.033,0.005-0.05,0.008c-0.02,0.002-0.038,0.005-0.058,0.009c-0.019,0.003-0.037,0.009-0.055,0.013c-0.016,0.005-0.033,0.008-0.05,0.013c-0.017,0.005-0.035,0.012-0.052,0.018c-0.017,0.006-0.033,0.012-0.049,0.019c-0.017,0.006-0.032,0.014-0.048,0.021c-0.017,0.008-0.034,0.016-0.051,0.024c-0.015,0.008-0.029,0.018-0.044,0.026c-0.015,0.008-0.031,0.018-0.048,0.029c-0.016,0.01-0.031,0.022-0.047,0.034c-0.014,0.01-0.027,0.019-0.04,0.028c-0.042,0.035-0.08,0.073-0.117,0.113c-0.013,0.011-0.026,0.021-0.037,0.033l-6.313,6.219c-0.433,0.428-0.434,1.12-0.003,1.544c0.432,0.426,1.131,0.424,1.564-0.002l4.495-4.426l-0.023,14.11c-0.001,0.603,0.493,1.092,1.104,1.09s1.107-0.49,1.109-1.095l0.023-14.108l4.403,4.334c0.432,0.426,1.133,0.424,1.565-0.003S29.553,19.975,29.121,19.55'/%3E%3C/svg%3E");
}
.scroll-top.on {
  right: 10px;
  opacity: 1;
  z-index: 109;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.hidden{
  animation: hide 500ms linear;
  animation-fill-mode: forwards;
}
.show{
  animation: show 500ms linear;
  animation-fill-mode: forwards;
}
/* Required */

.hidden-viewport{
  opacity: 0;
}

.visible{
  opacity: 1;
}

@media (max-width: 991px) {
  #navbar-brand-img{
    display: none;
  }
  #navbar-brand-txt{
    display: block !important;
  }
  /*nav{*/
    /*height: 55px;*/
  /*}*/
  .navbar-brand{
    margin-bottom: 0;
  }
}
