.dt-fancy-separator{
  color: rgba(119,119,119,0.5);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.h2-size{
  /*color: #333333;*/
  font: normal 600 36px / 44px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-fancy-title{
  position: relative;
  display: inline-block;
  top: 50%;
}
.separator-holder{
  position: absolute;
  display: block;
  top: 49.99%;
  width: 2000px;
  border-top: 1px solid rgba(119,119,119,0.15);
  content: '';
}
.separator-left{
  right: 100%;
  margin-right: 1em;
}
.separator-right{
  left: 100%;
  margin-left: 1em;
}
