<ngb-carousel>
  <template ngbSlide>
    <img src="../images/01.jpg" class="img-fluid" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../images/02.jpg" class="img-fluid" alt="Random second slide" style="height: 500px;">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../images/03.jpg" class="img-fluid" alt="Random third slide" style="height: 500px;">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../images/04.jpg" class="img-fluid" alt="Random third slide" style="height: 500px;">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../images/05.jpg" class="img-fluid" alt="Random third slide" style="height: 500px;">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
</ngb-carousel>
<div class="container">
  <div class="dt-fancy-separator h2-size margin-top" style="width: 100%; margin-top: 30px; margin-bottom: 30px;">
    <div class="dt-fancy-title">
      <span class="separator-holder separator-left"></span>
      WELCOME TO CAFE DEE HOUSE
      <span class="separator-holder separator-right"></span>
    </div>
  </div>
  <h3 class="post" style="text-align: center;">“คาเฟ่ดีเฮ้าส์ อาหารเลิศรส”<br>
    เมนูหลากหลายภายใต้บรรยากาศที่เป็นกันเองกับครอบครัวและคนรัก
  </h3>

  <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-md-4">
      <div class="dt-fancy-separator h2-size" style="width: 100%; font-size: 16px;">
        <div class="dt-fancy-title"><span class="separator-holder separator-left">
  </span>ABOUT CAFE DEE HOUSE<span class="separator-holder separator-right"></span>
        </div>
      </div>
      ใสใจในคุณภาพวัตถุดิบ และบรรจงปรุงอาหารด้วยใจ เครื่องดื่ม อาหารทุกเมนู เราพิถีพิถันพร้อมเสริฟ เพื่อคุณ
    </div>
    <div class="col-md-4">
      <div class="dt-fancy-separator h2-size" style="width: 100%; font-size: 16px;">
        <div class="dt-fancy-title"><span class="separator-holder separator-left">
  </span>OMAKASE COURSE<span class="separator-holder separator-right"></span>
        </div>
      </div>
      ร้านตกแต่งด้วยสีสันหวานๆ แนวพาสเทล แถมยังถูกโอบอุ้มไว้ด้วยเงาไม้ที่ตั้งตระหง่านให้ความร่มรื่นอยู่บริเวณหน้าร้าน ใครอยากนั่งทานอาหารในโซน Outdoor ก็ได้
    </div>
    <div class="col-md-4">
      <div class="dt-fancy-separator h2-size" style="width: 100%; font-size: 16px;">
        <div class="dt-fancy-title"><span class="separator-holder separator-left">
  </span>LOCATION<span class="separator-holder separator-right"></span>
        </div>
      </div>
      คาเฟ่ดีเฮ้าส์ ตั้งอยู่บนถนน มิตรสัมพันธ์ ติดกับเซเว่น บ้านปึก หน้าหมู่บ้านปิยวัฒน์ บางแสน
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 post">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  follow IG @CAFEDEEHOUSE
</div>
